*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}


html {
  font-size: 62.5%; 
}

body {
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    padding: 5rem;
    box-sizing: border-box; 
    text-align: center;
    background-image: url(img/background.png);
    background-size: cover;
    background-repeat: repeat-y;

}



a{
    color: #F90716;
    text-decoration: none;
    font-size: 300%;
    text-transform: uppercase;
}

.control{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: auto;
}

.header{
    width: 80%;
    text-align: center; 
    margin: auto;
}

.life{
    height: 7rem;
    width: 7rem;
}

.header-img{
    width: 30%;
    margin: auto;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
    height: auto;
    margin-left: 6.5%;
}

.card {
    margin: 9rem 6rem;
    display: inline-block;
    perspective: 150rem;
    border-radius: 1rem;
    position: relative;
    transition: all .4s ease;
}



.card:hover{
    transform: translateY(-3rem) scale(1.01);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
}


.card__side {
    transition: all .4s ease;
    position: absolute;
    height: 16rem;
    width: 11rem;
    backface-visibility: hidden;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.card__picture {
    background-size: cover;
    height: 16rem;
}

.card__side--front {
    transform: rotateY(0);
}

.card__side--back {
    transform: rotateY(180deg);
}

.card:active .card__side--front {
    transform: rotateY(-180deg);   
}


.card:active .card__side--back {
    transform: rotateY(0);
}

.clicked .card__side--front{
    transform: rotateY(-180deg);  
}

.clicked .card__side--back {
    transform: rotateY(0);
}

.done .card__side--front{
    transform: rotateY(-180deg);  
}

.done .card__side--back {
    transform: rotateY(0);
}





.card__picture--1 {
    background-image: url(img/1.jpg); }
.card__picture--2 {
    background-image: url(img/2.jpg); }
.card__picture--3 {
    background-image:  url(img/3.jpg); }
.card__picture--4 {
    background-image:  url(img/4.jpg); }
.card__picture--5 {
    background-image:  url(img/5.jpg); }  
.card__picture--7 {
    background-image: url(img/6.png); }
.card__picture--8 {
    background-image: url(img/7.png); }
.card__picture--9 {
    background-image:  url(img/8.png); }
.card__picture--10 {
    background-image:  url(img/9.png); }
.card__picture--11 {
    background-image:  url(img/10.png); }      
.card__picture--6 {
    background-image:  url(img/Card_Back.png); }        

#win{
    width: 50%;
    font-size: 1000%;
    position: absolute;
    top: 45%;
    left: 25%;
    z-index: 10;
    color: #FFCA03;
    visibility: hidden;
}

@media (max-width:1024px) {
    
      
      body {
          padding: 2rem;
          background-size:auto;
          background-repeat: no-repeat;
          text-align: center;
      }
      
      
      a{
          font-size: 2rem;
          display: block;
          padding: 2rem;
      }
      
      .control{
          display: block;
      }
      
      .header{
        width: 100%;
        margin: 0;
        text-align: center; 
      }
      
      .life{
          height: 5rem;
          width: 5rem;
      }

      .lifes{
        margin: 0;
      }
      
      .header-img{
          margin: 0;
          width: 40%;
      }
      
      .cards {
          width: 100%;
          margin: 0 -2.8rem;
      }
      
      .card {
          margin: 5rem 4rem;
          border-radius: .5rem;
      }
  
      .card:hover{
        transform: translateY(0) scale(1);
      }
      
      
      .card__side {
          height: 8.7rem;
          width: 6rem;
          border-radius: .5rem;
      }
      
      .card__picture {
          height: 8.7rem;
      }
      #win{
        top: 45%;
        left: 13%;
      }  
}
